<div class="mt-32 ml-36">
  <div class="flex justify-between items-center">
    <!-- <button class="btn btn-rimary">+ Add Todo</button> -->
    <app-add-todo></app-add-todo>
    <div class="flex gap-5 px-10">
      <h1>Sort</h1>
      <h1>Incomplete tasks</h1>
    </div>
  </div>
  <div>
    <div class="flex gap-5 felx-wrap">
      <div
        class="card w-96 bg-base-100 shadow-xl"
        *ngFor="let item of todos | async"
      >
        <div class="card-body">
          <div class="flex justify-between items-center">
            <progress
              class="progress progress-info w-56"
              value="100"
              max="100"
            ></progress>
            <button class="btn bg-base-100">
              <fa-icon
                [icon]="faEllipsis"
                class="fa-xl text-green-300"
              ></fa-icon>
            </button>
          </div>
          <div class="flex gap-3 my-2">
            <fa-icon
              [icon]="faCircleCheck"
              class="fa-xl text-green-300"
            ></fa-icon>

            <h2 class="card-title">{{ item.title }}</h2>
          </div>
          <p>{{ item.description }}</p>
          <div class="card-actions justify-between items-center">
            <h1 class="font-bold">{{ item.createdDate | date}}</h1>
            <button class="btn btn-success">Mark As Complete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
