<div class="flex">
  <div class="bg-base-300 w-6/12 min-h-screen flex justify-center items-center">
    <img
      src="/assets/undraw_mobile_login_re_9ntv.svg"
      class="rounded-lg w-9/12"
    />
  </div>
  <div
    class="bg-base-100 w-6/12 min-h-screen flex flex-col justify-center items-center"
  >
    <h1 class="text-5xl font-bold pb-3 text-center">Login!</h1>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-control">
        <label class="label">
          <span class="label-text">Email</span>
        </label>
        <input
          id="email"
          type="text"
          placeholder="email"
          class="input input-bordered form-control"
          formControlName="email"
        />
      </div>
      <div class="form-control">
        <label class="label">
          <span class="label-text">Password</span>
        </label>
        <input
          id="password"
          type="password"
          placeholder="password"
          class="input input-bordered form-control"
          formControlName="password"
        />
        <label class="label">
          <a
            routerLink="/register"
            class="label-text-alt link link-hover text-md"
            >Register</a
          >
        </label>
      </div>
      <div class="form-control mt-6" type="submit">
        <button class="btn btn-primary">Login</button>
      </div>
    </form>
  </div>
</div>
