<aside
  class="fixed top-0 left-0 h-screen w-20 flex flex-col bg-white gap-6 dark:bg-gray-900 shadow-lg"
>
  <div class="flex flex-col justify-center items-center">
    <div
      class="w-16 h-16 bg-gray-800 flex justify-center items-center m-2 rounded-full hover:rounded-md duration-200 hover:ease-in-out group"
    >
      <fa-icon [icon]="faPenNib" class="text-violet-600 fa-2xl"></fa-icon>
    </div>
    <p>Todo</p>
  </div>
  <div class="px-2">
    <div class="bg-gray-500 h-0.5 w-full opacity-50"></div>
  </div>
  <div>
    <div
      class="w-16 h-16 bg-gray-800 flex justify-center items-center m-2 rounded-full hover:rounded-md duration-200 hover:ease-in-out group"
    >
      <fa-icon [icon]="faCalendar" class="text-violet-600 fa-2xl"></fa-icon>
    </div>
    <div
      class="w-16 h-16 bg-gray-800 flex justify-center items-center m-2 rounded-full hover:rounded-md duration-200 hover:ease-in-out group"
    >
      <fa-icon [icon]="faListCheck" class="text-violet-600 fa-2xl"></fa-icon>
    </div>
    <div
      class="w-16 h-16 bg-gray-800 flex justify-center items-center m-2 rounded-full hover:rounded-md duration-200 hover:ease-in-out group"
    >
      <fa-icon
        [icon]="faArrowRightFromBracket"
        class="text-violet-600 fa-2xl"
      ></fa-icon>
    </div>
  </div>
</aside>
